:root {
   --verde: #42f3af;
   --verdetransparente: #42bbf35e;
   --fondoTabla: #060f19a1;
   --azulfondo: #060f19;
   --verde2: #73babe;
}

/* Imagen de fondo */
#background {
   background-image: url("../img/background3.jpg");
   left: 0;
   top: 0;
   right: 0;
   height: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   position: fixed;
   width: 100%;
   height: 100%;
   display: block;
   transform: scale(1.05);
}

#content {
   font-size: 20px;
   color: white;
   position: relative;
   margin: auto;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
}

/* Footer */
footer {
   position: fixed;
   bottom: 0;
   width: 99.5%;
   margin-top: 8px;
   color: white;
   border-top: 1px solid rgb(27, 27, 27);
   background-color: hsla(0, 0%, 0%, 0.233);
}

/* Header */
#header {
   font-weight: bold;
   margin-top: 10px;
   font-size: 20px;
   color: white;
   position: relative;
   margin: auto;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
}

#inicioButton {
   margin-left: 15px;
}

#cerrarSesion {
   display: inline;
   margin-left: 10px;
}

a:visited,
a:link {
   color: white;
   text-decoration: none;
}

a:hover {
   color: #42f3af;
   cursor: pointer;
}

#loginBlock {
   margin: auto;
   margin-top: 8%;
   width: 30%;
   border: 3px solid var(--verde);
   border-radius: 30px;
   padding: 10px;
   text-align: center;
   background-color: var(--verdetransparente);
}

#loginBlock button {
   margin: auto;
   margin-top: 20px;
}

button {
   font-size: 18px;
   align-items: center;
   border: 2px solid var(--azulfondo);
   border-radius: 15px;
   box-shadow: rgba(65, 252, 190, 0.428) 0 15px 30px -5px;
   box-sizing: border-box;
   display: flex;
   justify-content: center;
   line-height: 1em;
   max-width: 100%;
   min-width: 140px;
   padding: 10px;
   margin: 5px;
   font-weight: bold;
   text-decoration: none;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   white-space: nowrap;
   cursor: pointer;
   background-image: linear-gradient(144deg, #428d93, var(--verde) 50%, #00aceb);
   /* background-image: linear-gradient(144deg, #428d93, #42f3af 50%,#00aceb); */
}

button:hover {
   background: var(--verdetransparente) !important;
}

input {
   background-color: var(--fondoTabla);
   color: white;
   font-size: 15px;
   height: 20px;
   border: 1px solid var(--verde);
   border-radius: 15px;
   padding: 5px;
   margin-bottom: 10px;
   margin-left: 3px;
   padding-left: 10px;
}

::placeholder {
   color: white;
}

#adminContent {
   margin: auto;
   margin-top: 50px;
   text-align: center;
}

#adminOpciones {
   margin: auto;
   margin-top: 20px;
   text-align: center;
   width: 30%;
   border: 3px solid var(--verde);
   border-radius: 25px;
   padding: 10px;
   text-align: center;
   background-color: var(--verdetransparente);
   box-shadow: none;
}


#adminHeaderCategory {
   margin-left: 20%;
   margin-right: 20%;
}

#adminContent button {
   margin: auto;
   margin-bottom: 10px;
}

.button1 {
   max-height: 150px;
}

.button1 button {
   display: inline;
}

.hoverable:hover {
   cursor: pointer;
   color: var(--verde2);
}

.youtubeVideo:hover {
   color: rgb(255, 64, 0);
}

table {
   margin: auto;
   padding-bottom: 90px;
   max-width: 80%;
   min-width: 60%;
   background-color: var(--fondoTabla);
}

thead th {
   font-size: 22px;
   min-width: 120px;
   color: var(--verde);
}

tbody tr {
   min-height: 15px;
}

select {
   background-color: var(--fondoTabla);
   color: white;
   font-size: 15px;
   height: 20px;
   border: 1px solid var(--verde);
   border-radius: 15px;
   padding: 5px;
   margin-bottom: 10px;
   margin-left: 3px;
   padding-left: 10px;
   min-height: 32px;
}

/* Parte del usuario Normal */
#userContent {
   font: 18px;
   margin: auto;
   text-align: center;
}

#userContent button {
   margin: auto;
   margin-right: 20px;
   margin-bottom: 30px;
   display: inline;
   min-width: 150px;
}

/* Dejamos un poco de espacio debajo para el footer */
#userOption {
   padding-bottom: 90px;
}

#userGoBack {
   box-shadow: none;
}