<div id="userOption" ng-show="userOption === 1">
    <p>¿Qué música quieres escuchar hoy?</p><br>
    <div id="Lista_categorias_usuario" ng-repeat="cat in userCategories">
        <button ng-click="getVideosForUser(cat.id,cat.name)" class="botonCategoria">{{cat.name}}</button>
    </div>
</div>

<div id="userVideos" ng-show="userOption === 2">
    <button type="button" ng-click="comeBack()" id="userGoBack">Volver Atrás</button>
    <div id="panelCategoriaVideos">{{userVideos[0].id_category}}</div>
    <table id="normalUserTable">
        <thead>
            <th>Portada</th>
            <th ng-click="ordenar('name')">Nombre</th>
            
            <th>URL</th>
        </thead>
        <tbody id="normalUserTableBody">
            <tr ng-repeat="vid in userVideos | orderBy:orden:condicion">
                <td><a href="{{vid.url}}" target="_blank"><img ng-src="{{thumbnail(vid.url)}}"></a></td>
                <td><a href={{vid.url}} target="_blank" class="youtubeVideo">{{vid.name}}</a></td>
                
                <td><a href={{vid.url}} target="_blank" class="youtubeVideo">{{vid.url}}</a></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>