<div id="userOption" ng-show="userOption === 1">
    <p>¿Qué música quieres escuchar hoy?</p><br>
    <div id="Lista_categorias_usuario" ng-repeat="cat in userCategories">
        
        <button ng-click="getVideosForUser(cat.id,cat.name)">{{cat.name}}</button>
    </div>
    <!-- Introducimos las distintas categorías con JS -->

</div>

<div id="userVideos" ng-show="userOption === 2">
    <button type="button" ng-click="comeBack()" id="userGoBack">Volver Atrás</button>
    <!-- Introducimos los videos con JS -->
    <table id="normalUserTable">
        <thead>
            <th>Portada</th>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>URL</th>
        </thead>
        <tbody id="normalUserTableBody">
            <tr ng-repeat="vid in userVideos">
                <td><a href="{{vid.url}}" target="_blank"><img ng-src="{{thumbnail(vid.url)}}"></a></td>
                <td><a href={{vid.url}} target="_blank" class="youtubeVideo">{{vid.name}}</a></td>
                <td>{{vid.id_category}}</td>
                <td><a href={{vid.url}} target="_blank" class="youtubeVideo">{{vid.url}}</a></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>